.editar-usuario-modal {
  position: absolute;
  width: 100%;
  bottom: -550px;
  padding-bottom: 10px;
  background-color: #3a506b;
  transition: bottom 0.8s;
  box-shadow: 5px -1px 20px #aaa;
}

.show {
  bottom: 0px;
}
