.editar-droga-modal {
  position: absolute;
  width: 100%;
  bottom: -550px;
  padding-bottom: 80px;
  background-color: #3a506b;
  transition: bottom 0.8s;
  box-shadow: 5px -1px 20px #aaa;
}

.modal-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.modal-boton-cerrar {
  font-size: 14pt;
  font-weight: 600;
  margin-top: 20px;
  width: 100%;
  height: 30px;
}

.show {
  bottom: 0px;
}
