body {
  font-family: "Open Sans", sans-serif;
  color: #aab1b7;
}

.scrollable {
  background-size: ;
  background-attachment: local;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  background-size: 440px;
  background-repeat: repeat;
}

.header {
}

.withGradient {
  background-image: url("/images/bggradient.jpg");
}

.logo {
  background-image: url("/images/logo.png");
}

.nav-buttons {
  margin-top: 7vh;
  display: grid;
  grid-template-columns: auto auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  grid-row-gap: 5vh;
  text-align: center;
}

.nav-icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vw;
  height: 11vh;
  display: block;
  margin-bottom: 1vh;
  background-position: center;
}

.nav-icon-ver-dosis {
  background-image: url("/images/icono_ver_dosis.png");
}

.nav-icon-editar-dosis {
  background-image: url("/images/icono_editar_dosis.png");
}

.nav-icon-consultar-stock {
  background-image: url("/images/icono_ver_stock.png");
}

.nav-icon-ingresar-compra {
  background-image: url("/images/icono_ingresar_compra.png");
}

.nav-icon-agregar-dosis {
  background-image: url("/images/icono_agregar_dosis.png");
}

.nav-icon-editar-dosis-in {
  background-image: url("/images/icono_editar_dosis_in.png");
}

.single-line {
  display: block;
}

ul {
  list-style-type: none;
  text-align: left;
}

ul.dosis-horario {
  padding-left: 3vw;
  font-size: 14pt;
}

ul.dosis-droga {
  font-size: 12pt;
  padding: 0;
  border-bottom: 1px #e7eced solid;
  padding-bottom: 3vh;
  margin-bottom: 2vh;
}

li.dosis-horario {
  padding: 0;
}

li.dosis-droga {
  color: black;
  padding-left: 3vw;
}

h1 {
  font-size: 16pt;
}

.negro {
  color: black;
}

.blue {
  color: #3a506b;
}

.content {
}

.content p {
  color: white;
  padding-left: 16px;
  margin-bottom: 30px;
}

.content p .reviewText {
  display: block;
}

.content p .rentalDates {
  display: block;
  font-size: 7pt;
}

.content p.marginTop {
  margin-top: 40px;
}

.content p.titulo {
  font-size: 16pt;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: red;
  font-size: 16pt;
  font-weight: 600;
}

ul.usuarios li,
ul.libros li {
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.newLine {
  display: block;
}

.pretty-form {
  margin-bottom: 30px;
  margin-left: 17px;
  text-align: left;
}

.pretty-form .form-input {
  display: block;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
  margin-left: 13vw;
}

.pretty-form .form-input .pretty-input {
  padding: 5px;
  font-size: 10pt;
  width: 83%;
}

.pretty-form .form-input .label {
  display: block;
}

.pretty-form .pretty-submit {
  font-weight: 600;
  font-size: 12pt;
  color: white;
  margin-left: 36vw;
  margin-top: 2vh;
}

.separador {
  width: 13%;
  margin-bottom: 18px;
  max-width: 70px;
  margin-left: 58px;
  display: block;
}

.dv-star-rating {
  font-size: 18pt;
  left: 16px;
  top: 10px;
}

.dv-star-rating-star {
  margin-right: 10px;
}

.dv-star-rating-empty-star i {
  color: white;
}

html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body,
input,
textarea,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: "Open Sans", sans-serif;
}

p {
  text-rendering: optimizeLegibility;
}

strong {
  font-weight: 700;
}

.cover,
#main,
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url(/images/bgpattern.jpg);
  background-repeat-y: repeat;
  background-repeat-x: repeat;
  background-size: 22%;
  background-attachment: local;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.no-background {
  background-image: none;
  background-color: white;
  padding-left: 30px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.app-view {
  /* position: relative;
  z-index: 1;
  padding: 0;
  transition: padding 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: absolute;
  top: 140px;*/
}

.app-view .view-content.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 450ms ease-out, opacity 400ms ease-out;
}

/* RESPONSIVE */
@media only screen and (max-width: 800px) {
  .logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 8%;
    margin-bottom: 7%;
    max-height: 13.1vh;
    width: 30.5vw;
    margin-left: auto;
    margin-right: auto;
    height: 16vh;
  }

  .logo:after {
    content: "";
    display: block;
  }

  .scrollable {
    /* background-image: url(/images/bgpattern.jpg);
    background-repeat-y: repeat;
    background-repeat-x: repeat;
    background-size: 22%;
    background-attachment: local;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box; */
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 72%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .header {
    /*
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    padding-top: 7%;
    margin-bottom: 30px;
    border-bottom: none;
    */
  }

  .content {
    text-align: center;
    margin-bottom: 100px;
  }

  .content p {
    color: #aab1b7;
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 30px;
  }

  .separador {
    width: 13%;
    margin-bottom: 18px;
    max-width: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .pretty-form {
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .loader {
    /* margin-top: 50%; */
    margin-left: 0%;
  }
}
