body {
  font-family: "Open Sans", sans-serif;
  color: #aab1b7;
}

.scrollable {
  background-size: ;
  background-attachment: local;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  background-size: 440px;
  background-repeat: repeat;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header.chico {
  margin-bottom: 10px;
}

.header-boton-volver {
  position: absolute;
  top: 17px;
  left: 22px;
  font-size: 14pt;
}

.withGradient {
  background-image: url("/images/bggradient.jpg");
}

.logo {
  background-image: url("/images/logo.png");
}

.nav-buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-left: auto;
  margin-right: auto;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  grid-row-gap: 5vh;
  text-align: center;
}

.nav-buttons.home {
  margin-top: 7vh;
}

.nav-button {
  grid-column: span 2;
}

.nav-button:nth-last-child(1):nth-child(odd) {
  grid-column: 2 / span 2;
}

.nav-icon {
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vw;
  height: 11vh;
  display: block;
  margin-bottom: 1vh;
  background-position: center;
}

.nav-icon.chico {
  width: 7vh;
  height: 8vh;
  display: inline-block;
}

.nav-icon-ver-dosis {
  background-image: url("/images/icono_ver_dosis.png");
}

.nav-icon-editar-dosis {
  background-image: url("/images/icono_editar_dosis.png");
}

.nav-icon-consultar-stock {
  background-image: url("/images/icono_ver_stock.png");
}

.nav-icon-ingresar-compra {
  background-image: url("/images/icono_ingresar_compra.png");
}

.nav-icon-agregar-dosis {
  background-image: url("/images/icono_agregar_dosis.png");
}

.nav-icon-editar-dosis-in {
  background-image: url("/images/icono_editar_dosis_in.png");
}

.nav-icon-imprimir {
  background-image: url("/images/icono_imprimir.png");
}

.nav-icon-check {
  background-image: url("/images/icono_check.png");
}

.nav-icon-cross {
  background-image: url("/images/icono_cruz.png");
}

.nav-icon-edit {
  background-image: url("/images/icono_editar.png");
}

.nav-icon-nuevo-pastillero {
  background-image: url("/images/icono_nuevo_pastillero.png");
}

.nav-icon-plus {
  background-image: url("/images/icono_plus.png");
}

.single-line {
  display: block;
}

ul {
  list-style-type: none;
  text-align: left;
}

ul.dosis-horario {
  padding-left: 3vw;
  font-size: 14pt;
}

ul.dosis-droga {
  font-size: 12pt;
  padding: 0;
  border-bottom: 1px #e7eced solid;
  padding-bottom: 3vh;
  margin-bottom: 2vh;
}

li.dosis-horario {
  padding: 0;
}

li.dosis-droga {
  color: black;
  padding-left: 3vw;
}

ul.dosis-armado-pastillero {
  font-size: 12pt;
  padding: 0;
  padding-bottom: 2vh;
}

li.dosis-armado-pastillero {
  color: black;
  padding-left: 3vw;
  padding-bottom: 1vh;
}

.dias-stock {
  font-size: 12pt;
  color: black;
  margin-left: 2%;
}

.verde {
  color: green;
}

.amarillo {
  color: #ebba16;
}

.rojo {
  color: red;
}

.gris {
  color: #aab1b7;
}

h1 {
  font-size: 16pt;
}

.negro {
  color: black;
}

.pretty-input {
  margin-bottom: 30px;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  display: block;
}

.pretty-text {
  width: 77%;
  border: 1px #aab1b7 solid;
  font-size: 14pt;
  padding: 3px 3px 3px 11px;
}

.notas-dosis {
  display: block;
  margin-left: 20px;
  font-size: 10pt;
  font-style: bold;
  color: #ebba16;
  font-weight: 600;
}

.notas-dosis.rojo {
  color: red;
}

.blue {
  color: #3a506b;
}

.editar-droga-modal {
  background-color: white;
  width: 74vw;
  position: absolute;
  margin-left: 7vw;
  border: 3px #aab1b7 solid;
  border-radius: 26px;
  padding: 16px;
  top: 100px;
}

.modal-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: black;
  opacity: 0.4;
}

.modal-boton-cerrar {
  position: absolute;
  right: 16px;
  top: 13px;
  font-size: 16pt;
  font-weight: 900;
  background-color: #aab1b7;
  padding: 0px 6px 2px 6px;
  color: white;
  border-radius: 7px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.boton-guardar {
  display: block;
  color: green;
}

a.boton-guardar,
a:visited.boton-guardar,
a:hover.boton-guardar,
a:active.boton-guardar {
  text-decoration: none;
  color: green;
  font-size: 16pt;
  font-weight: 600;
  margin-bottom: 30px;
}

.content {
}

.content p {
  color: white;
  padding-left: 16px;
  margin-bottom: 30px;
}

.content p .reviewText {
  display: block;
}

.content p .rentalDates {
  display: block;
  font-size: 7pt;
}

.content p.marginTop {
  margin-top: 40px;
}

.content p.titulo {
  font-size: 16pt;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: red;
  font-size: 16pt;
  font-weight: 600;
}

ul.usuarios {
  text-align: center;
  margin-left: -40px;
}

ul.usuarios li {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.newLine {
  display: block;
}

.pretty-form .form-input .label {
  display: block;
}

.pretty-form .pretty-submit {
  font-weight: 600;
  font-size: 12pt;
  color: white;
  margin-left: 36vw;
  margin-top: 2vh;
}

.separador {
  width: 13%;
  margin-bottom: 18px;
  max-width: 70px;
  margin-left: 58px;
  display: block;
}

.dv-star-rating {
  font-size: 18pt;
  left: 16px;
  top: 10px;
}

.dv-star-rating-star {
  margin-right: 10px;
}

.dv-star-rating-empty-star i {
  color: white;
}

html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body,
input,
textarea,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: "Open Sans", sans-serif;
}

p {
  text-rendering: optimizeLegibility;
}

strong {
  font-weight: 700;
}

.cover,
#main,
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url(/images/bgpattern.jpg);
  background-repeat-y: repeat;
  background-repeat-x: repeat;
  background-size: 22%;
  background-attachment: local;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.no-background {
  background-image: none;
  background-color: white;
  padding-left: 30px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.app-view {
  /* position: relative;
  z-index: 1;
  padding: 0;
  transition: padding 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: absolute;
  top: 140px;*/
}

.app-view .view-content.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 450ms ease-out, opacity 400ms ease-out;
}

/* RESPONSIVE */
@media only screen and (max-width: 800px) {
  .logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 8%;
    max-height: 13.1vh;
    width: 30.5vw;
    margin-left: auto;
    margin-right: auto;
    height: 16vh;
    margin-bottom: 1vh;
  }

  .logo.chico {
    max-height: 8vh;
  }

  .logo:after {
    content: "";
    display: block;
  }

  .scrollable {
    /* background-image: url(/images/bgpattern.jpg);
    background-repeat-y: repeat;
    background-repeat-x: repeat;
    background-size: 22%;
    background-attachment: local;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box; */
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 72%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .content {
    text-align: center;
    margin-bottom: 100px;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow-y: auto;
    height: 75vh;
  }

  .content p {
    color: #aab1b7;
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 30px;
  }

  .separador {
    width: 13%;
    margin-bottom: 18px;
    max-width: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .pretty-form {
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .loader-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
  }

  .loader {
    /* margin-top: 50%; */
    margin-left: 0%;
  }
}

.login-form {
  margin-bottom: 28px;
}

.login-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 60vw;
  padding: 6px;
  font-size: 12pt;
  border: 1px #aaa solid;
  border-radius: 8px;
}

.login-submit {
  padding: 10px 20px;
  font-size: 13pt;
  border-radius: 7px;
  border: 1px #aaa solid;
  margin-bottom: 28px;
}

.login-error {
  display: block;
  text-align: center;
  color: red;
  font-size: 11pt;
}

.footer {
  width: 100%;
  background-color: #ebba16;
  position: absolute;
  bottom: 0px;
  text-align: center;
  padding: 2vh 0;
  color: white;
  font-size: 14pt;
  transition: height 0.65s, box-shadow 0.65s;
  height: 30px;
  box-shadow: 0px 0px 0px;
}

.footer.agrandado {
  height: 200px;
  box-shadow: 5px -1px 20px #aaa;
}

.titulo-footer {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.texto-sin-pastilleros-footer {
  margin-bottom: 36px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.negrita {
  font-weight: 600;
}

.fit {
  display: inline-block;
  white-space: nowrap;
}

.seleccion-pastillero {
  margin: 10px 0px 38px 0px;
  padding: 4px;
  font-size: 14pt;
  width: 65%;
  border-radius: 8px;
}
